html {
		margin: 30px;
	}

.tab {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid #000;
}

.tab button {
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tabcontent {
	padding: 10px;
	border: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}