<header>

</header>

<html>

<h1> Guided Lessons </h1>

<div class="tab">
  <button class="tablinks" (click)="openLessonOne()"><h3>Lesson One: What is Machine Learning?</h3></button>
  <div id="lessonOne" class="tabcontent" style = "display:{{lessonOne}}">
  <p>Machine Learning is...</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> <br>
  <b>Question 2:</b> <br>
  <b>Question 3:</b>
  </div>
  <button class="tablinks" (click)="openLessonTwo()"><h3>Lesson Two: Understanding the Data</h3></button>
  <div id="lessonTwo" class="tabcontent" style = "display:{{lessonTwo}}">
  <p>Read through the understanding the data page.</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> <br>
  <b>Question 2:</b> <br>
  <b>Question 3:</b>
  </div>
  <button class="tablinks" (click)="openLessonThree()"><h3>Lesson Three: Feature Engineering</h3></button>
  <div id="lessonThree" class="tabcontent" style = "display:{{lessonThree}}">
  <p>Read through the feature engineering page.</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> <br>
  <b>Question 2:</b> <br>
  <b>Question 3:</b>
  </div>
  <button class="tablinks" (click)="openLessonFour()"><h3>Lesson Four: The Many Machine Learning Models</h3></button>
  <div id="lessonFour" class="tabcontent" style = "display:{{lessonFour}}">
  <p>Models models models.</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> <br>
  <b>Question 2:</b> <br>
  <b>Question 3:</b>
  </div>
  <button class="tablinks" (click)="openLessonFive()"><h3>Lesson Five: Machine Learning for Time Series Predictions</h3></button>
  <div id="lessonFive" class="tabcontent" style = "display:{{lessonFive}}">
  <p>Using models is valuable ...</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> <br>
  <b>Question 2:</b> <br>
  <b>Question 3:</b>
  </div>
</div>





</html>