<header>

</header>

<html>

<h1>Guided Lessons</h1>


<p> Now that you have some understanding of the data, explore our the machine learning model visualizations. As you do so, consider the following questions.</p>
<h4> What training features have the biggest impact on the performance?</h4>
<p> Including more features will generally improve the model, but it's important to understand which ones may be more impactful than others. As you look at models for predicting temperature or precipiation, look at which training features are necessary to include. </p>
<h4> Do the models perform the same for all the stations?</h4>
<p> The data for stations look very similar, but there are some differences. Are these differences significant enough that some models perform better than others for different base stations? </p>
<h4> How do the models compare to each other? </h4>
<p> As you look at the different models, consider how they compare with each other. Which ones would you recommend to use?</p>
</html>