<header>

</header>

<html>

<h1> Guided Lessons </h1>

<div class="tab">
  <button class="tablinks" (click)="openLessonOne()"><h3>Lesson One: What is Machine Learning?</h3></button>
  <div id="lessonOne" class="tabcontent" style = "display:{{lessonOne}}">
  <p>Machine Learning is an increasingly relevant topic in science, policy and society at large. Understanding the basics of it will be useful.</p>
  <p> For this lesson, read this <a href = "https://www.ibm.com/cloud/learn/machine-learning">introduction </a> on machine learning. Then consider the questions below. You may want to find other sources (one <a href="https://news.harvard.edu/gazette/story/2020/10/ethical-concerns-mount-as-ai-takes-bigger-decision-making-role/">example</a>) for more details about the topics below.</p>
  <h2> Discussion Questions </h2>
  <b>Question 1:</b> How can machine learning be used ethically?<br>
  <b>Question 2:</b> What are the advantages and disadvantages of using machine learning?<br>
  <b>Question 3:</b> What types of problems do you think machine learning would help to solve?<br>
  </div>
  <button class="tablinks" (click)="openLessonTwo()"><h3>Lesson Two: Understanding the Data</h3></button>
  <div id="lessonTwo" class="tabcontent" style = "display:{{lessonTwo}}">
  <p>Now that you have a basic understanding of machine learning, you may be interested in using our web application. However, we recommend that you familiarize with our data set before doing so. It's important to understand the data so you better understand how to interpret the machine learning results.</p>
  <p>For this lesson, read this read through the <a href="/aboutData"> understanding the data</a> page.</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> What are the limitations of this data set? How could the dataset be improved?<br>
  <b>Question 2:</b> How does variance impact our analysis of a model's results.<br>
  </div>
  <button class="tablinks" (click)="openLessonThree()"><h3>Lesson Three: Feature Engineering</h3></button>
  <div id="lessonThree" class="tabcontent" style = "display:{{lessonThree}}">
  <p>Feature Engineering is an important topic relating to improving model training and performance.</p>
  <p> For this lesson, read through this <a href = "https://towardsdatascience.com/what-is-feature-engineering-importance-tools-and-techniques-for-machine-learning-2080b0269f10"> introduction </a> on feature engineering (you can skip the sections on specific feature engineering tools). Then read our <a href = "featureEngineering"> feature engineering</a> page to learn about our process of feature engineering.
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> What are the tradeoffs that we consider when feature engineering?<br>
  <b>Question 2:</b> How does feature engineering improve model training?<br>
  <b>Question 3:</b> How do you evaluate if your feature engineering approach is successful or not? <br>
  </div>
  <button class="tablinks" (click)="openLessonFour()"><h3>Lesson Four: The Many Machine Learning Models</h3></button>
  <div id="lessonFour" class="tabcontent" style = "display:{{lessonFour}}">
  <p>There are many different machine learning models, each with their own advantages. For our web application, we have used the following Auto Regression, ARIMA, SARIMA, LSTM, RNN, Multiple Linear Regression, Support Vector Regression and Random Forest.</p>
  <p>For this lesson, read the <a href="modelInfo">Machine Learning Model Info </a> page. Don't worry about understanding the exact method of each one. If you were to use a model, then you would want to have that deeper understanding. Instead, just focus on the differences between them and how they can vary.</p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b>Choose one model to learn more about. What are the advantages of this model compared to others?<br>
  <b>Question 2:</b>Which model seems the least useful to you? Why? If you aren't sure, choose a model and research its potential drawbacks.<br>
  </div>
  <button class="tablinks" (click)="openLessonFive()"><h3>Lesson Five: Machine Learning for Time Series Predictions</h3></button>
  <div id="lessonFive" class="tabcontent" style = "display:{{lessonFive}}">
  <p>Now that you have an understanding of machine learning, you should try out our application!</p>
  <p>For this lesson, go back to the <a href="/">home</a> page, and play around with the application. Consider the discussion questions as you do so. </p>
  <h3> Discussion Questions </h3>
  <b>Question 1:</b> How does the window size impact the model performance?<br>
  <b>Question 2:</b> Do you feel that one model is outperforming others?<br>
  <b>Question 3:</b> Do you think that the provided visualization is useful for understanding the performance of models? What would you change? <br>
  </div>
</div>





</html>