<header>

</header>

<html>

<h1> Other Resources </h1>

<p> We have collected a list of helpful resources for learning more about machine learning. If you have recommendations for other sources to include on this page, please email Vaasu at vtaneja@albany.edu. </p>

<h2> Books </h2>
<ul>
	<li> <b> Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems</b> by Aurélien Géron ISBN-13: 978-1492032649</li>
	<li> <b> Probabilistic Graphical Models: Principles and Techniques </b> by Daphne Koller and Nir Friedman. ISBN-13: 978-0262013192</li>
</ul>

<h2> Video Lectures </h2>
<ul>
	<li> <b> Andrew Ng</b>, Adjunct Professor at Standford Unversity. 
		<a href="https://www.youtube.com/watch?v=jGwO_UgTS7I"> Machine Learning Course Lectures. </a> </li> 
	<li> <b> Eric Grimson</b>, Professor at MIT. 
		<a href = "https://www.youtube.com/watch?v=h0e2HAPTGF4"> Intro to Machine Learning Lecture. </a>
</ul>

<h2> Miscellaneous</h2>
<ul>
	<li> <a href = "https://developers.google.com/machine-learning"> Google Developer Courses on Machine Learning </a> </li>
	<li><b> Mark Schmidt</b>, Professor at University of British Columbia. 
		<a href = "https://www.cs.ubc.ca/~schmidtm/Courses/LecturesOnML/"> Link to set of lecture slides and notes.</a></li>
	<li><a href = "https://www.coursera.org/specializations/deep-learning#about">Coursera Course on Machine Learning </a></li>
</ul>
</html>