<div id="formContainer">
<form #f = "ngForm" (ngSubmit)="onSubmit(f)" nonvalidate>
    <mat-form-field>
         <mat-label>Window Size</mat-label>
            <mat-select [(ngModel)]="windows.values" name="windowSize" required>
            <mat-option *ngFor="let window of windows" [value]="window">
            {{window}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Feature</mat-label>
        <mat-select [(ngModel)]="features.values" name="features" required>
            <mat-option *ngFor="let feature of features" [value]="feature">
            {{feature}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="mlModels.values" name="mlModels" required>
            <mat-option *ngFor="let mlModel of mlModels" [value]="mlModel">
            {{mlModel}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  <div id="buttonContainer">
    <button mat-raised-button id="submit" color="primary">Submit</button>
</div>
<!-- <div style = "font-size:12px;">
    Note: For Support Vector Regression, Multiple Linear Regression, and Random Forest, you only need to select the model and feature.
</div> -->
</form>
</div>
<div class="modelVisuals" style = "display:{{performanceShow}}">
    <div>
        <h1> Model Results </h1>
        <img width = "1200px" src="assets/{{performancePath}}.png">
    </div>
    <div style = "display:{{comparisonShow}}">
        <h1> Performance Comparison </h1>
        <img width = "1200px" src="assets/{{comparisonPath}}.png">
    </div>
     Weather forcasts from one day prior are typically accurate within a couple of degrees. For precipitation forecasts there may be more variability. How do these results compare to the accuracy you usually expect from weather forecasting? Is this model in its current state usable?
</div>