<div id="formContainer">
<form #f = "ngForm" (ngSubmit)="onSubmit(f)">
     <mat-form-field>
        <mat-label>Training Set</mat-label>
        <mat-select mat-select [(ngModel)]="datasets.values" name="datasetField" required>
            <mat-option *ngFor="let dataset of datasets" [value]="dataset[0]">
            {{dataset}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
         <mat-label>Window Size</mat-label>
            <mat-select [(ngModel)]="windows.values" name="windowSize" required>
            <mat-option *ngFor="let window of windows" [value]="window">
            {{window}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Feature</mat-label>
        <mat-select [(ngModel)]="features.values" name="features" required>
            <mat-option *ngFor="let feature of features" [value]="feature">
            {{feature}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Model</mat-label>
        <mat-select [(ngModel)]="mlModels.values" name="mlModels" required>
            <mat-option *ngFor="let mlModel of mlModels" [value]="mlModel">
            {{mlModel}}
            </mat-option>
        </mat-select>
    </mat-form-field>
  <div id="buttonContainer">
    <button mat-raised-button id="submit" color="primary" type="submit">Submit</button>
</div>
</form>
</div>
<div class="modelVisuals" style = "display:{{performanceShow}}">
    <div>
        <h1> Model Results </h1>
        <div class = "modelText">{{modelDescription}}</div>
        <div>
        <img width = "1000px" src="assets/{{performancePath}}.png">
    </div>
    <div style = "display:{{comparisonShow}}">
        <h1> Performance Comparison </h1>
        <img width = "1000px" src="assets/{{comparisonPath}}.png">
    </div>
     <h3> <b> Results Observations </b> </h3>
    <div class = "modelText">{{modelObservation}}</div>
    <h3> <b> Results Analysis </b> </h3>
    <div class = "modelText">{{modelAnalysis}}</div>
</div>
