<div id = "bannerText">
	Learning Machine Learning with Weather
</div>
<div id = "subtext">
	An application to help students learn about machine learning.
</div> 


<div id="buttonShell">
	<div class="buttonRow">
	   	<a class = "homeButton" href="guidedLessons"><h2>New to Machine Learning?</h2>Follow our guided lessons to <br> get a basic understanding of the field.</a>
	   	<a class = "homeButton" href="applicationPage"><h2>How do ML models differ?</h2>For information about different machine learning models,<br>go to our model comparison page.</a>
	</div>
	<div class="buttonRow">
	   	<a class = "homeButton" href="guidedLessons"><h2>Test Your Knowledge</h2>Take a quiz to find out what you should study more of.</a>
	   	<a class = "homeButton" href="otherResources"><h2>Looking for More Resources?</h2>Check out a list of detailed resources <br> to get an in-depth understanding of machine learning.</a>
	</div>
</div>




